body{

  background-color: white;
}

h3 {
  color:#4cbbb9;
}

h1{
  font-family: Perpetua;
}



hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #e6f3ef;
  border-width: 7px;
  width: 5%;
}
